:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --lineColor: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --md: 16px;
    --lg: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}
.main-container {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--mainBG);
}
.card {
    display: grid;
    grid-template-columns: auto;
    width: 20rem;
    padding: 1.22rem;
    border-radius: 0.90rem;
    background-color: var(--cardBG);
    position: relative;
}

/* ------------------------------------------------------------------ */

.banner {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 0.5rem;
}

/* ------------------------------------------------------------------ */

.card-information {
    display: flex;
    flex-direction: column;
    margin-top: 0.9375rem;
}

/* ------------------------------------------------------------------ */

.description {
    display: flex;
    flex-direction: column;
    font-size: var(--lg);
}
.description h1 {
    color: var(--white);
    font-weight: 600;
}
.description p {
    color: var(--softBlue);
    font-weight: 300;
    margin: 1.0625rem 0 0.125rem 0;
}

/* ------------------------------------------------------------------ */

.stats {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "icon-ethereum funds icon-clock day-count"
        ;
    margin: 0.625rem 0 0.625rem 0;
}
.stats #icon-ethereum {
    grid-area: icon-ethereum;
    align-self: center;
    margin-right: 0.1875rem;
}
.stats #funds {
    grid-area: funds;
    color: var(--cyan);
    font-size: var(--md);
    font-weight: 400;
}
.stats #icon-clock {
    grid-area: icon-clock;
    align-self: center;
    margin-right: 0.125rem;

}
.stats #day-count {
    grid-area: day-count;
    color: var(--softBlue);
    font-size: var(--md);
    font-weight: 300;
}


/* ------------------------------------------------------------------ */

.author {
    display: flex;
    padding-top: 0.75rem;
    border-top: 1px solid var(--lineColor);
}
.avatar {
    display: inline-block;
    width:35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--white)
}
.author .name {
    margin-left: 0.4375rem;
    font-size: var(--md);
    align-self: center;
    font-weight: 300;
    color: var(--softBlue);
}
.author .name strong {
    color: var(--white);
    font-weight: 300;
}

@media (max-width: 374px) {
    .card {
        height: fit-content;
    }
}
@media (min-width: 380px) {
    .card {
        height: fit-content;
    }
}